{% from 'form_helper.html' import displayField %}

{% extends 'base.html' %}

{% block title %} Account  {% endblock %}


{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <h3>{{ message }}</h3>
    {% endfor %}
  {% endif %}
{% endwith %}
    <form action="{{ url_for('account') }}", method="POST">
        {{displayField(form.username, 'Username', autocomplete="off", autofocus=true)}}
        {{displayField(form.firstname, 'firstname', autocomplete="off", autofocus=true)}}
        {{displayField(form.lastname, 'lastname', autocomplete="off", autofocus=true)}}
        {{displayField(form.address, 'address', autocomplete="off", autofocus=true)}}
        {{displayField(form.mobileno, 'mobileno', autocomplete="off", autofocus=true)}}

        <div>
            {{ form.submit_update }}
        </div>

        {{ form.csrf_token }}

    </form>



{% endblock %}
