{% extends "layout.html" %}

{% block title %} Add medicines {% endblock %}

{% block content %}

<div class="topnav">
  <a class="active" href="/dashboard">Home</a>
  <a href="/login"> Login </a>
  <a href="/account">Profile</a>
  <a href="/checkout">Cart</a>
  <a href="/chatbot" style="margin-left: 850px;">Bot</a>
  <a href="/login" style="margin-left: 10px;">Logout</a>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<section>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div>
							
						<div class="row">
						  	<div class="col-sm-6 col-md-4">
							    <div>
							    	<a>
										<img src="https://www.opioidhelp.com/app/uploads/2019/05/Vicodin-Addiction-350x234.jpeg" alt="...">
										<h3>Medicine 1</h3>
									</a>
							    </div>	
						  	</div>	
						  	<div class="col-sm-6 col-md-4">
							    <div>
							    	<a>
										<img src="https://www.opioidhelp.com/app/uploads/2019/05/Vicodin-Addiction-350x234.jpeg" alt="...">
										<h3>Medicine 2</h3>
									</a>
							    </div>	
						  	</div>	
						  	<div class="col-sm-6 col-md-4">
							    <div>
							    	<a>
										<img src="https://www.opioidhelp.com/app/uploads/2019/05/Vicodin-Addiction-350x234.jpeg" alt="...">
										<h3>Medicine 3</h3>
									</a>	
							    </div>	
						  	</div>	
						</div>	
					</div>	
				</div>	
			</div>	
		</div>	
	</section>	


{% endblock content %}
