{% from 'form_helper.html' import displayField %}

{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
    <div class="cont">
        <div class="form sign-in">
            <h2> Login </h2>
            <form action="{{ url_for('login') }}", method="POST">
                <label>
                    {{displayField(form.username, 'Username', autocomplete="off", autofocus=true)}}
                </label>

                <label>
                    {{displayField(form.password, 'Password')}}
                </label>

                <div>
                    <button class="submit" type="button">
                        {{ form.submit_button }}
                    </button>
                </div>
                
                <p class="forgot-pass">Forgot Password?</p>
                <div class="social-media">
                    <ul>
                    <li><img src="/static/images/gmail.png"></li>
                    </ul>
                </div>
        </div>
        <div class="sub-cont">
            <div class="img">
                <div class="img-text m-up">
                    <p>Don't have an account ?</p>
                </div>
                <div class="img-btn">
                    <a href="/templates/index.html"><span class="m-up">Register</span></a>
                </div>
            </div>
        </div>
    </div>
            {{ form.csrf_token }}
            
        </form>

        <!-- <script src="/static/js/script.js"></script> -->

{% endblock %}